<!--footer begin-->
<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="row footerTop" _hover-ignore="1">
                    <a href="/about" target="_blank" _hover-ignore="1">关于我们</a>
                    <a href="/contact-us" target="_blank" _hover-ignore="1">联系我们</a>
                    <a href="/zhaopin/hot" _hover-ignore="1">招聘专区</a>
                    <a href="/sitemap.html" class="sitemap">网站地图</a>
                    <a href="/gonglve" _hover-ignore="1">海淘攻略</a>
                    <a href="/zixun" _hover-ignore="1">海淘资讯</a>
                    <a href="/shaiwu" _hover-ignore="1">海淘晒物</a>
                </div>
                </br>
                <div class="row footerLink">
                    友情链接：
                    <a href="http://www.gome.com.cn/" target="_blank">国美在线</a>
                    <a href="http://www.jd.com/" target="_blank">京东</a>
                    <a href="http://www.taobao.com/" target="_blank">淘宝网</a>
                    <a href="http://www.yougou.com/" target="_blank" _hover-ignore="1">优购网</a>
                </div>
                </br>
                <div class="row footerTextt">
                    版权所有 本站内容未经书面许可，禁止一切形式的转载。 © copyright 2010-2015 <a href="http://wjsam.com" target="_blank">我就是爱买</a> . All rights reserved.
                    <br>京ICP备11035347号-1
                </div>
            </div>
            <div class="col-md-4">
                <img alt="我就是爱买" style="width: 180px;height: 180px" src="/images/weixin.png">
            </div>
        </div>

    </div>
</div>
<!--footer end-->

<div id="cbbfixed">
    <a href="###" class="cbbtn" id="cweixin">
        <span class="yy-icon yy-weixin"></span>

        <div></div>
    </a>
    <a href="###" class="cbbtn" id="gotop">
        <span class="yy-icon yy-gt"></span>
    </a>
</div>
</body>
</html>