<!--footer begin-->
<div id="footer">
    <div class="container">

        <p id="banquan">使用&nbsp;<a href="###">DoraCMS</a>&nbsp;Copyright (c) 2015 <a href="http://html-js.cn" target="_blank">wjsam.com</a> All Rights Reserved </p>
    </div>
</div>
<!--footer end-->

<div id="cbbfixed">
    <a href="###" class="cbbtn" id="cweixin">
        <span class="yy-icon yy-weixin"></span>
        <div></div>
    </a>
    <a href="###" class="cbbtn" id="gotop">
        <span class="yy-icon yy-gt"></span>
    </a>
</div>
</body>
</html>