<!--头部模板-->
<script>
  var kaoApp = angular.module("webApp",[]);
</script>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/logo.png" alt=""/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" class="active">发现</a></li>
        <li><a href="#about">实验室</a></li>
        <li><a href="#contact">关于</a></li>

      </ul>
      <ul class="nav navbar-nav pull-right">
        <div id="hrnav">
          <div id="soform" class="">
            <form method="get" action="http://www.uehtml.com/list/">
              <span class="icon-search"></span>
              <input type="hidden" autocomplete="off" class="hide" value="4" name="cid">
              <input type="hidden" autocomplete="off" class="hide" value="rec" name="sort">
              <input type="hidden" autocomplete="off" class="hide" value="" name="fid">
              <input type="hidden" autocomplete="off" class="hide" value="" name="owner">
              <input type="hidden" autocomplete="off" class="hide" value="all" name="time">
              <input type="text" autocomplete="off" placeholder="关键字查找" value="" name="search">
            </form>
          </div>
          <div id="mulogin">

            <!--<div class="btn-group" role="group" aria-label="">-->
            <% if(!logined){ %>
            <!--<a  href="/users/login" class="btn btn-gray" >登录</a>-->
            <!-- Button trigger modal -->
            <a  class="btn btn-gray" data-toggle="modal" data-target="#myModal">
              登录
            </a>
            <a  href="/users/reg" class="btn btn-blue">注册</a>
            <% }else{ %>
            <li>您好 <a href="/users/userCenter"><%=userInfo.userName%></a></li>
            <li><a href="#" id="userLoginOut">退出</a></li>
            <% } %>
            <!--</div>-->
          </div>
        </div>

      </ul>
    </div><!--/.nav-collapse -->

  </div>
  <div id="nav-bread" class="nav-bread">
    <div class="container">
      <div data-name="fid" id="sofid" class="sotj soitem soone">
        <div class="soitemlabel">
          <span class="soitemlabeltxt">文档</span>
          <span class="yy-icon yy-soi"></span>
        </div>
        <div class="soitemcontent">
          <ul>
            <li><a class="active" data-value="0" href="http://www.uehtml.com/list/">文档</a></li>
            <li><a data-value="1" href="http://www.uehtml.com/list/?fid=1">前端开发</a>
              <div class="soitemcontent">
                <ul>
                  <li><a data-value="2" href="http://www.uehtml.com/list/?fid=2">企业集团</a></li>
                  <li><a data-value="25" href="http://www.uehtml.com/list/?fid=25">专题活动</a></li>
                  <li><a data-value="3" href="http://www.uehtml.com/list/?fid=3">门户电商</a></li>
                  <li><a data-value="4" href="http://www.uehtml.com/list/?fid=4">游戏网页</a></li>
                  <li><a data-value="5" href="http://www.uehtml.com/list/?fid=5">汽车/车类</a></li>
                  <li><a data-value="6" href="http://www.uehtml.com/list/?fid=6">服装服饰</a></li>
                  <li><a data-value="7" href="http://www.uehtml.com/list/?fid=7">餐饮美食</a></li>
                  <li><a data-value="11" href="http://www.uehtml.com/list/?fid=11">其他网页</a></li>
                </ul>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <a data-value="12" href="http://www.uehtml.com/list/?fid=12">文档资源</a>
              <div class="soitemcontent">
                <ul>
                  <li><a data-value="13" href="http://www.uehtml.com/list/?fid=13">图标Icon</a></li>
                  <li><a data-value="14" href="http://www.uehtml.com/list/?fid=14">移动应用</a></li>
                  <li><a data-value="17" href="http://www.uehtml.com/list/?fid=17">界面设计</a></li>
                  <li><a data-value="16" href="http://www.uehtml.com/list/?fid=16">原型/UE</a></li>
                  <li><a data-value="29" href="http://www.uehtml.com/list/?fid=29">UI动效</a></li>
                  <li><a data-value="18" href="http://www.uehtml.com/list/?fid=18">其他GUI</a></li>
                </ul>
                <div class="clear"></div>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div data-name="sort" class="sotj soitem soone">
        <div class="soitemlabel">
          <span class="icon-flag"></span>
          <span class="soitemlabeltxt">最新推荐</span>
          <span class="yy-icon yy-soi"></span>
        </div>
        <div class="soitemcontent">
          <ul>
            <li>
              <a class="active" data-value="rec" href="http://www.uehtml.com/list/?sort=rec">
                <span class="icon-flag"></span>最新推荐</a>
            </li>
            <li>
              <a data-value="like" href="http://www.uehtml.com/list/?sort=like">
                <span class="icon-heart"></span>最多喜欢</a>
            </li>
            <li>
              <a data-value="view" href="http://www.uehtml.com/list/?sort=view">
                <span class="icon-eye-open"></span>最多浏览</a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div data-name="sort" class="sotj soitem soone">
        <div class="soitemlabel">
          <span class="icon-user" aria-hidden="true"></span>
          <span class="soitemlabeltxt">所有者</span>
          <span class="yy-icon yy-soi"></span>
        </div>
        <div class="soitemcontent">
          <ul>
            <li>
              <a class="active" data-value="rec" href="http://www.uehtml.com/list/?sort=rec">原创</a>
            </li>
            <li>
              <a data-value="like" href="http://www.uehtml.com/list/?sort=like">转载</a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div data-name="sort" class="sotj soitem soone">
        <div class="soitemlabel">
          <span class="icon-calendar" aria-hidden="true"></span>
          <span class="soitemlabeltxt">不限</span>
          <span class="yy-icon yy-soi"></span>
        </div>
        <div class="soitemcontent">
          <ul>
            <li>
              <a class="active" data-value="rec" href="http://www.uehtml.com/list/?sort=rec">一周内</a>
            </li>
            <li>
              <a data-value="like" href="http://www.uehtml.com/list/?sort=like">一月内</a>
            </li>
            <li>
              <a data-value="view" href="http://www.uehtml.com/list/?sort=view">一年内</a>
            </li>
            <li>
              <a data-value="comment" href="http://www.uehtml.com/list/?sort=comment">不限</a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</nav>

<% include ../users/userLogin %>