<div ng-controller='PostListController'>
    <div infinite-scroll='products.nextPage()' infinite-scroll-disabled='products.busy' infinite-scroll-distance='1'>
        <div ng-repeat='item in products.items'>
            <div class="blog-list-item">
                <div class="row">
                    <div class="itemName col-md-12">
                        <a href="#" class="icon" _hover-ignore="1">优惠</a>
                        <a href="/detail/{{item._id}}.html" target="_blank" class="item-title">{{item.title}}</a>
                        <span class="price">{{item.price}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="item-Img">
                            <a target="_blank" href="/detail/{{item._id}}.html">
                                <img class="img-responsive" alt="{{item.title}}" src="{{item.thumbSrc}}"></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="item-des">
                            <div class="item-time">
                               <span>标签：<a href="#" ng-repeat='tag in item.tags'>
                                       {{tag + ' '}}
                                   </a>
                            </span>
                                <span><i class="icon-time"></i><a>{{ item.gmtCreated | date:'yyyy-MM-dd HH:mm:ss' }}</a></span>
                            </div>
                            <div class="summary">{{item.detail}}</div>
                        </div>
                        <div class="item-more">
                            <span><i class="icon-eye-open"></i><a>163</a></span>
                            <span><i class="icon-comment"></i><a>33</a></span>
                            <span><i class="icon-heart"></i><a>2</a></span>

                    <span class="glyphicon glyphicon-flag" title="列表推荐">
                        {{item.from}}
                        <a href="/url/{{item._id}}.html" target="_blank" class="btn-buy" rel="nofollow"
                           style="text-align: center" _hover-ignore="1">直达链接 &gt;</a>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show='products.busy'>Loading data...</div>
    </div>
</div>


<script>
    var indexAppModule = angular.module('indexApp', ['infinite-scroll']);

    indexAppModule.controller('PostListController',
            function ($scope, Products) {
                $scope.products = new Products();
            });

    // 创建后台数据交互工厂
    indexAppModule.factory('Products', function ($http) {
        var Products = function () {
            this.items = [];
            this.busy = false;
            this.after = '';
            this.page = 0;
        };

        Products.prototype.nextPage = function () {
            if (this.busy) return;
            this.busy = true;

            if (this.page > 2) {
                this.busy = false;
                return;
            }
            var url = "/getProductList?callback=JSON_CALLBACK&limit=20&currentPage=" + this.page;
            $http.get(url).success(function (data) {
                var items = data["docs"];
                for (var i = 0; i < items.length; i++) {
                    this.items.push(items[i]);
                }
                this.after = "t3_" + this.items[this.items.length - 1]._id;
                this.busy = false;
                this.page += 1;
            }.bind(this));
        };
        return Products;
    });
</script>


