<div class="right">
    <div class="row">
        <div class="col-md-6">
            <a class="storeLogo" href="http://www.amazon.cn/?tag=namai-23" target="_blank"><img
                        src="/images/nav/amazon.jpg" alt="亚马逊" _hover-ignore="1"></a>
            <a class="storeName" href="http://www.amazon.cn/?tag=namai-23" target="_blank">中国亚马逊</a>
        </div>
        <div class="col-md-6">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=337&amp;euid=&amp;t=http%3A%2F%2Fwww.yixun.com%2F"
               target="_blank"><img src="/images/nav/yixun.jpg" alt="易迅网"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=337&amp;euid=&amp;t=http%3A%2F%2Fwww.yixun.com%2F"
               target="_blank">易迅网</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=84&amp;euid=&amp;t=http%3A%2F%2Fwww.suning.com%2F"
               target="_blank"><img src="/images/nav/suning.png" alt="苏宁易购" _hover-ignore="1"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=84&amp;euid=&amp;t=http%3A%2F%2Fwww.suning.com%2F"
               target="_blank">苏宁易购</a>
        </div>
        <div class="col-md-6">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=61&amp;euid=&amp;t=http%3A%2F%2Fwww.jd.com%2F"
               target="_blank"><img src="/images/nav/jd.png" alt="京东商城"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=61&amp;euid=&amp;t=http%3A%2F%2Fwww.jd.com%2F"
               target="_blank">京东商城</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="storeLogo"
               href=" http://c.duomai.com/track.php?site_id=138778&amp;aid=236&amp;euid=&amp;t=http%3A%2F%2Fwww.gome.com.cn%2F"
               target="_blank"><img src="/images/nav/gome.png" alt="国美在线" _hover-ignore="1"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=236&amp;euid=&amp;t=http%3A%2F%2Fwww.gome.com.cn%2F"
               target="_blank">国美在线</a>
        </div>
        <div class="col-md-6">
            <a class="storeLogo" href="http://www.tmall.com" target="_blank"><img src="/images/nav/tmall.png"
                                                                                  alt="天猫商城"></a>
            <a class="storeName" href="http://www.tmall.com" target="_blank">天猫商城</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=58&amp;euid=&amp;t=http%3A%2F%2Fwww.yhd.com%2F"
               target="_blank"><img src="/images/nav/yihaodian.png" alt="一号店"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=58&amp;euid=&amp;t=http%3A%2F%2Fwww.yhd.com%2F"
               target="_blank">一号店</a>
        </div>
        <div class="col-md-6">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=64&amp;euid=&amp;t=http%3A%2F%2Fwww.dangdang.com%2F"
               target="_blank"><img src="/images/nav/dangdang.png" alt="当当网"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=138778&amp;aid=64&amp;euid=&amp;t=http%3A%2F%2Fwww.dangdang.com%2F"
               target="_blank">当当网</a>
        </div>
    </div>
</div>
