<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="blog-list-item">
    <div class="item-Img">

      <div class="sidemallitem">
        <ul class="storesList">
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://www.amazon.cn/?tag=namai-23" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/amazon.jpg" alt="亚马逊" _hover-ignore="1"></a>
                  <a class="storeName" href="http://www.amazon.cn/?tag=namai-23" target="_blank">中国亚马逊</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=337&amp;euid=&amp;t=http%3A%2F%2Fwww.yixun.com%2F" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/yixun.jpg" alt="易迅网"></a>
                  <a class="storeName" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=337&amp;euid=&amp;t=http%3A%2F%2Fwww.yixun.com%2F" target="_blank">易迅网</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=84&amp;euid=&amp;t=http%3A%2F%2Fwww.suning.com%2F" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/suning.png" alt="苏宁易购" _hover-ignore="1"></a>
                  <a class="storeName" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=84&amp;euid=&amp;t=http%3A%2F%2Fwww.suning.com%2F" target="_blank">苏宁易购</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem" _hover-ignore="1">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=61&amp;euid=&amp;t=http%3A%2F%2Fwww.jd.com%2F" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/jd.png" alt="京东商城"></a>
                  <a class="storeName" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=61&amp;euid=&amp;t=http%3A%2F%2Fwww.jd.com%2F" target="_blank">京东商城</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href=" http://c.duomai.com/track.php?site_id=138778&amp;aid=236&amp;euid=&amp;t=http%3A%2F%2Fwww.gome.com.cn%2F" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/gome.png" alt="国美在线" _hover-ignore="1"></a>
                  <a class="storeName" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=236&amp;euid=&amp;t=http%3A%2F%2Fwww.gome.com.cn%2F" target="_blank">国美在线</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://www.tmall.com" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/tmall.png" alt="天猫商城"></a>
                  <a class="storeName" href="http://www.tmall.com" target="_blank">天猫商城</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=58&amp;euid=&amp;t=http%3A%2F%2Fwww.yhd.com%2F" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/yihaodian.png" alt="一号店"></a>
                  <a class="storeName" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=58&amp;euid=&amp;t=http%3A%2F%2Fwww.yhd.com%2F" target="_blank">一号店</a>
                </h2>
              </div>
            </div>
          </li>
          <li>
            <div class="storeItem">
              <div class="storeOuterBorder">
                <h2 class="storeInnerBorder">
                  <a class="storeLogo" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=64&amp;euid=&amp;t=http%3A%2F%2Fwww.dangdang.com%2F" target="_blank"><img src="http://www.namaiya.com/wp-content/themes/dmt_namaiya/images/dangdang.png" alt="当当网"></a>
                  <a class="storeName" href="http://c.duomai.com/track.php?site_id=138778&amp;aid=64&amp;euid=&amp;t=http%3A%2F%2Fwww.dangdang.com%2F" target="_blank">当当网</a>
                </h2>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <div class="item-des">

    </div>
   </div>
</div>