<div class="right">
    <div class="row">
        <div class="lanrenzhijia">
            <div class="title cf">
                <ul class="title-list fr cf ">
                    <li class="on">分类导航</li>
                    <li>商家导航</li>
                    <p><b></b></p>
                </ul>
            </div>
            <div class="product-wrap">
                <!--案例1-->
                <div class="product wrapshow">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/diannaoshuma"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','电脑数码');"><span _hover-ignore="1"><i
                                                class="icon-diannaoshuma"></i>电脑数码</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/jiayongdianqi"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','家用电器');"><span><i
                                                class="icon-jiayongdianqi"></i>家用电器</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/yundonghuwai"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','运动户外');"><span><i
                                                class="icon-yundonghuwai"></i>运动户外</span></a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/fushixiebao"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','服饰鞋包');"><span><i
                                                class="icon-fushixiebao"></i>服饰鞋包</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/gehuhuazhuang"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','个护化妆');"><span><i
                                                class="icon-gehuhuazhuang"></i>个护化妆</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/muyingyongpin"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','母婴用品');"><span><i
                                                class="icon-muyingyongpin"></i>母婴用品</span></a></td>

                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/riyongbaihuo"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','日用百货');"><span><i
                                                class="icon-riyongbaihuo"></i>日用百货</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/shipinbaojian"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','食品保健');"><span><i
                                                class="icon-shipinbaojian"></i>食品保健</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/lipinzhongbiao"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','礼品钟表');"><span><i
                                                class="icon-lipinzhongbiao"></i>礼品钟表</span></a></td>

                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/tushuyinxiang"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','图书音像');"><span><i
                                                class="icon-tushuyinxiang"></i>图书音像</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/wanmoyueqi"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','玩模乐器');"><span><i
                                                class="icon-wanmoyueqi"></i>玩模乐器</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/bangongshebei"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','办公设备');"><span><i
                                                class="icon-bangongshebei"></i>办公设备</span></a></td>

                        </tr>
                        <tr>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/jiajujiazhuang"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','家居家装');"><span><i
                                                class="icon-jiajujiazhuang"></i>家居家装</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/qicheyongpin"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','汽车用品');"><span><i
                                                class="icon-qicheyongpin"></i>汽车用品</span></a></td>
                            <td><a target="_blank" href="http://www.wjsam.com/fenlei/"
                                   onclick="ga('send', 'event','门户','侧边栏_商品分类','其他分类');"><span _hover-ignore="1">其他分类<i
                                                class="icon-right_yuanjiantou"></i></span></a></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
                <!--案例2-->
                <div class="product">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','京东');"
                                   href="http://www.wjsam.com/mall/jd" title="京东">
                                    <div class="merchant-nav-top"><img
                                                src="http://pn.zdmimg.com/201406/26/1edf2df4.jpg"><span>京东</span></div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','亚马逊中国');"
                                   href="http://www.wjsam.com/mall/amazon_cn" title="亚马逊中国">
                                    <div class="merchant-nav-top"><img src="http://y.zdmimg.com/201508/20/321d646f.jpg"
                                                                       _hover-ignore="1"><span>亚马逊中国</span></div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','美国亚马逊');"
                                   href="http://www.wjsam.com/mall/amazon" title="美国亚马逊">
                                    <div class="merchant-nav-top"><img
                                                src="http://pn.zdmimg.com/201409/18/33bdb9ba.jpg"><span>美国亚马逊</span>
                                    </div>
                                </a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','天猫精选');"
                                   href="http://www.wjsam.com/mall/tmall" title="天猫精选">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>天猫精选</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','苏宁易购');"
                                   href="http://www.wjsam.com/mall/suning" title="苏宁易购">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>苏宁易购</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','国美在线');"
                                   href="http://www.wjsam.com/mall/gome" title="国美在线">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>国美在线</span>
                                    </div>
                                </a></td>

                        </tr>
                        <tr>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','易迅网');"
                                   href="http://www.wjsam.com/mall/yixun" title="易迅网">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>易迅网</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','6PM');"
                                   href="http://www.wjsam.com/mall/6pm" title="6PM">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>6PM</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','1号店');"
                                   href="http://www.wjsam.com/mall/yhd" title="1号店">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>1号店</span>
                                    </div>
                                </a></td>

                        </tr>
                        <tr>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','新蛋中国');"
                                   href="http://www.wjsam.com/mall/newegg_cn" title="新蛋中国">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>新蛋中国</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','ebay');"
                                   href="http://www.wjsam.com/mall/ebay" title="ebay">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>ebay</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','顺丰优选');"
                                   href="http://www.wjsam.com/mall/sfbest" title="顺丰优选">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>顺丰优选</span>
                                    </div>
                                </a></td>

                        </tr>
                        <tr>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','中粮我买网');"
                                   href="http://www.wjsam.com/mall/womai" title="中粮我买网">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>中粮我买网</span>
                                    </div>
                                </a></td>
                            <td><a target="_blank" onclick="ga('send', 'event','门户','侧边栏_商家导航','日本亚马逊');"
                                   href="http://www.wjsam.com/mall/amazon_jp" title="日本亚马逊">
                                    <div><img src="http://p.zdmimg.com/201409/17/5419001d00d36.png"><span>日本亚马逊</span>
                                    </div>
                                </a></td>
                            <td><a target="_blan<td>k" onclick="ga('send', 'event','门户','侧边栏_商家导航','更多');"
                                   href="http://www.wjsam.com/mall">
                                    <div _hover-ignore="1">更多商城<i class="icon-right_yuanjiantou"></i></div>
                                </a></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>



