<div class="right">
    <div class="row">
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=192711&lid=4193&aid=61&euid=wjsam&t=http%3A%2F%2Fwww.360buy.com%2F"
               target="_blank"><img src="/images/nav/jd.png" alt="京东商城"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=192711&lid=4193&aid=61&euid=wjsam&t=http%3A%2F%2Fwww.360buy.com%2F"
               target="_blank">京东商城</a>
        </div>
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=192711&aid=337&euid=wjsam&t=http%3A%2F%2Fwww.yixun.com%2F"
               target="_blank"><img src="/images/nav/yixun.jpg" alt="易迅网"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=192711&aid=337&euid=wjsam&t=http%3A%2F%2Fwww.yixun.com%2F"
               target="_blank">易迅网</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=192711&lid=596040&aid=84&euid=wjsam&t=http%3A%2F%2Fsale.suning.com%2Ftx%2F11sj11%2Findex.html"
               target="_blank"><img src="/images/nav/suning.png" alt="苏宁易购" _hover-ignore="1"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=192711&lid=596040&aid=84&euid=wjsam&t=http%3A%2F%2Fsale.suning.com%2Ftx%2F11sj11%2Findex.html"
               target="_blank">苏宁易购</a>
        </div>
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo" href="http://www.amazon.cn/?tag=namai-23" target="_blank"><img
                        src="/images/nav/amazon.jpg" alt="亚马逊" _hover-ignore="1"></a>
            <a class="storeName" href="http://www.amazon.cn/?tag=namai-23" target="_blank">中国亚马逊</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=192711&aid=236&euid=wjsam&t=http%3A%2F%2Fwww.gome.com.cn%2F"
               target="_blank"><img src="/images/nav/gome.png" alt="国美在线" _hover-ignore="1"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=192711&aid=236&euid=wjsam&t=http%3A%2F%2Fwww.gome.com.cn%2F"
               target="_blank">国美在线</a>
        </div>
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo" href="http://www.tmall.com" target="_blank"><img src="/images/nav/tmall.png"
                                                                                  alt="天猫商城"></a>
            <a class="storeName" href="http://www.tmall.com" target="_blank">天猫商城</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=192711&lid=430053&aid=58&euid=wjsam&t=http%3A%2F%2Fcms.yhd.com%2FcmsPage%2Fshow.do%3FpageId%3D94808"
               target="_blank"><img src="/images/nav/yihaodian.png" alt="一号店"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=192711&lid=430053&aid=58&euid=wjsam&t=http%3A%2F%2Fcms.yhd.com%2FcmsPage%2Fshow.do%3FpageId%3D94808"
               target="_blank">一号店</a>
        </div>
        <div class="col-md-6 ninePicBox">
            <a class="storeLogo"
               href="http://c.duomai.com/track.php?site_id=192711&lid=128313&aid=64&euid=&t=http%3A%2F%2Fwww.dangdang.com%2F"
               target="_blank"><img src="/images/nav/dangdang.png" alt="当当网"></a>
            <a class="storeName"
               href="http://c.duomai.com/track.php?site_id=192711&lid=128313&aid=64&euid=&t=http%3A%2F%2Fwww.dangdang.com%2F"
               target="_blank">当当网</a>
        </div>
    </div>
</div>
