.list {
    padding-bottom: 29px;
    margin-bottom: 4px;
    margin-top: 24px;
    border-bottom: 1px solid #dcdcdc;
}
.listTitle {
    width: 100%;
    margin-bottom: 16px;
}
.listRight {
    width: 500px;
    height: 190px;
    float: left;
}

.lrTop, .article_meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 16px;
    margin-top: 9px;
    height: 15px;
}


.lrInfo {
    height: 96px;
    overflow: hidden;
    margin-bottom: 24px;
}
.lrInfo {
    height: 96px;
    overflow: hidden;
    color: #666;
    line-height: 24px;
    margin-bottom: 13px;
}
.lrBot {
    height: 30px;
    font-size: 12px;
    width: 100%;
}