html,body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 Arial,"Helvetica Neue",Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
ul,ol,dl,li{list-style:none}
fieldset,img{border:0}
textarea{resize:vertical}
small{font-size:85.7%}
label{cursor:pointer}
button,input,select,textarea{font-size:100%}
img{border:0 none;width:auto\9;height:auto;max-width:100%;vertical-align:top;-ms-interpolation-mode:bicubic}
iframe{display:block}
input{outline-style:none}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
a{color:#5e5e5e;text-decoration:none}
a:hover{color:#f36;text-decoration:none}
:focus{outline:0 none}
body{color:#666;height:100%;min-width:1000px}
.cf:before,.cf:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.cf{*zoom:1}
.fhide{display:none}
.fl,.fleft{float:left}
.fr,.fright{float:right}
.fonthide{overflow:hidden;text-indent:-999em}
.hide{display:none}
.element-hide{position:absolute;left:-9999em;height:1px;width:1px;overflow:hidden}
.grid_auto{ margin:0 auto; width:1000px;}