<!-- 评论区 -->
<div class="comment_area" id="comment">
    <div class="comment_title cf">
        <div class="comment_num fl"><i></i>评论<span>( 6 )</span></div>
        <a class="comment_dsp fr" target="_blank" href="http://www.liuzhuni.com/dashenping/">看大神评集锦</a>
        <input type="hidden" id="contentId" value="49543">
    </div>
    <div class="com_form_info cf">
        <div class="com_form_user fl">
            <img class="current_pic_user" src="http://i.liuzhuni.com/users/14184718036496.jpg" alt="用户头像">
            <a class="com_login" href="javascript:void(0);" onclick="loginShow()">登录</a>
        </div>


        <div class="com_form_box fr">
            <div class="invite_login">
                想评论，请先<a href="javascript:loginShow()">登录</a>哦~
            </div>
        </div>

    </div>

    <!-- 回复列表 -->
    <div class="comment_dec" id="div_Main">

        <div class="comment_list" id="comment_364257">
            <div class="comment_list_inner cf">
                <div class="comment_userinfo fl">
                    <img class="userinfo_avatar" src="http://qzapp.qlogo.cn/qzapp/100406685/00F835BA28B0EDC57B61CF8086B97990/100" alt="秦叔宝">
                    <div class="level_num" title="20级">
                        <img alt="20级" src="/Content/images/crown.png">
                        <img alt="20级" src="/Content/images/diamond.png">
                    </div>
                </div>

                <div class="comment_content fr">
                    <div class="top_info cf">
                        <span class="user_name">秦叔宝</span>
                        <div class="user_medal">
                            <i class="medal_qd" title="签到达人"></i>
                            <i class="medal_dsp" title="大神评"></i>

                        </div>
                        <span class="com_time">2015-11-06 22:06:52</span>

                        <span class="com_floor">6#</span>
                    </div>


                    <div class="com_pub_content">
                        <!-- 多层原评论 -->
                        <!-- 多层原评论 end -->

                        <div class="com_content">
                            用白条，90入啊
                        </div>
                        <div class="com_pub_btn action_replay cf">
                            <ul>
                                <li class="com_boli_first"><a href="javascript:;" onclick="return dingAction(364257,$(this))"><span class="csupport">顶</span><span class="nsupport">&nbsp;&nbsp;</span></a></li>
                                <li><a class="com_pub_replay new_replay" href="javascript:;" data-replay="364257" data-content="49543">回复</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="comment_list" id="comment_364096">
            <div class="comment_list_inner cf">
                <div class="comment_userinfo fl">
                    <img class="userinfo_avatar" src="http://q.qlogo.cn/qqapp/1104521794/54D0337DA9866C65469C108335C5BD18/100" alt="胸大屁股翘">
                    <div class="level_num" title="2级">
                        <img alt="2级" src="/Content/images/start.png">
                        <img alt="2级" src="/Content/images/start.png">
                    </div>
                </div>

                <div class="comment_content fr">
                    <div class="top_info cf">
                        <span class="user_name">胸大屁股翘</span>
                        <div class="user_medal">

                        </div>
                        <span class="com_time">2015-11-06 19:42:53</span>

                        <span class="com_floor">5#</span>
                    </div>


                    <div class="com_pub_content">
                        <!-- 多层原评论 -->
                        <!-- 多层原评论 end -->

                        <div class="com_content">
                            签到？？？？？？
                        </div>
                        <div class="com_pub_btn action_replay cf">
                            <span class="comment_from">来自 <a rel="nofollow" target="_blank" href="http://www.liuzhuni.com/app/">Android 酷炫拽客户端</a></span>
                            <ul>
                                <li class="com_boli_first"><a href="javascript:;" onclick="return dingAction(364096,$(this))"><span class="csupport">顶</span><span class="nsupport">&nbsp;&nbsp;</span></a></li>
                                <li><a class="com_pub_replay new_replay" href="javascript:;" data-replay="364096" data-content="49543">回复</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="comment_list" id="comment_363992">
            <div class="comment_list_inner cf">
                <div class="comment_userinfo fl">
                    <img class="userinfo_avatar" src="http://i.liuzhuni.com/users/13746275391636.jpg" alt="cxj65">
                    <div class="level_num" title="20级">
                        <img alt="20级" src="/Content/images/crown.png">
                        <img alt="20级" src="/Content/images/diamond.png">
                    </div>
                </div>

                <div class="comment_content fr">
                    <div class="top_info cf">
                        <span class="user_name">cxj65</span>
                        <div class="user_medal">
                            <i class="medal_qd" title="签到达人"></i>

                        </div>
                        <span class="com_time">2015-11-06 18:03:33</span>

                        <span class="com_floor">4#</span>
                    </div>


                    <div class="com_pub_content">
                        <!-- 多层原评论 -->
                        <!-- 多层原评论 end -->

                        <div class="com_content">
                            不能减100啊，怎么回事
                        </div>
                        <div class="com_pub_btn action_replay cf">
                            <ul>
                                <li class="com_boli_first"><a href="javascript:;" onclick="return dingAction(363992,$(this))"><span class="csupport">顶</span><span class="nsupport">&nbsp;&nbsp;</span></a></li>
                                <li><a class="com_pub_replay new_replay" href="javascript:;" data-replay="363992" data-content="49543">回复</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="comment_list" id="comment_363966">
            <div class="comment_list_inner cf">
                <div class="comment_userinfo fl">
                    <img class="userinfo_avatar" src="http://i.liuzhuni.com/users/14369245352649.jpg" alt="50g">
                    <div class="level_num" title="17级">
                        <img alt="17级" src="/Content/images/crown.png">
                        <img alt="17级" src="/Content/images/start.png">
                    </div>
                </div>

                <div class="comment_content fr">
                    <div class="top_info cf">
                        <span class="user_name">50g</span>
                        <div class="user_medal">
                            <i class="medal_qd" title="签到达人"></i>

                        </div>
                        <span class="com_time">2015-11-06 17:59:27</span>

                        <span class="com_floor">3#</span>
                    </div>


                    <div class="com_pub_content">
                        <!-- 多层原评论 -->
                        <div class="comment_cont_source">
                            <div class="comment_blockquote" id="comment_source_363920">
                                <div class="source_info">
                                    <span class="source_info_author">leilei331</span>
                                    <span class="source_info_floor">1</span>
                                </div>
                                <div class="source_content">这个灯好，但是感觉好贵……</div>
                                <div class="source_btn action_replay cf">
                                    <ul class="source_action">
                                        <li><a class="source_btn_ding" href="javascript:;" onclick="return dingAction(363920,$(this))">顶(<span class="source_ding_num">0</span>)</a></li>
                                        <li>|<a class="source_btn_replay new_replay" href="javascript:;" data-replay="363920" data-content="49543">回复</a></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <!-- 多层原评论 end -->

                        <div class="com_content">
                            我觉得他的设计不太好，你去看介绍，六个灯珠直接照射，点光源作为台灯我感觉不太合适，设计成面光源照射用在台灯上更好。
                        </div>
                        <div class="com_pub_btn action_replay cf">
                            <ul>
                                <li class="com_boli_first"><a href="javascript:;" onclick="return dingAction(363966,$(this))"><span class="csupport">顶</span><span class="nsupport">&nbsp;&nbsp;</span></a></li>
                                <li><a class="com_pub_replay new_replay" href="javascript:;" data-replay="363966" data-content="49543">回复</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="comment_list" id="comment_363953">
            <div class="comment_list_inner cf">
                <div class="comment_userinfo fl">
                    <img class="userinfo_avatar" src="http://i.liuzhuni.com/users/14184718036496.jpg" alt="燕子q">
                    <div class="level_num" title="1级">
                        <img alt="1级" src="/Content/images/start.png">
                    </div>
                </div>

                <div class="comment_content fr">
                    <div class="top_info cf">
                        <span class="user_name">燕子q</span>
                        <div class="user_medal">

                        </div>
                        <span class="com_time">2015-11-06 17:48:54</span>

                        <span class="com_floor">2#</span>
                    </div>


                    <div class="com_pub_content">
                        <!-- 多层原评论 -->
                        <!-- 多层原评论 end -->

                        <div class="com_content">
                            崔村1很好，，，
                        </div>
                        <div class="com_pub_btn action_replay cf">
                            <span class="comment_from">来自 <a rel="nofollow" target="_blank" href="http://www.liuzhuni.com/app/">Android 酷炫拽客户端</a></span>
                            <ul>
                                <li class="com_boli_first"><a href="javascript:;" onclick="return dingAction(363953,$(this))"><span class="csupport">顶</span><span class="nsupport">&nbsp;&nbsp;</span></a></li>
                                <li><a class="com_pub_replay new_replay" href="javascript:;" data-replay="363953" data-content="49543">回复</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="comment_list" id="comment_363920">
            <div class="comment_list_inner cf">
                <div class="comment_userinfo fl">
                    <img class="userinfo_avatar" src="http://i.liuzhuni.com/users/14184718036496.jpg" alt="leilei331">
                    <div class="level_num" title="20级">
                        <img alt="20级" src="/Content/images/crown.png">
                        <img alt="20级" src="/Content/images/diamond.png">
                    </div>
                </div>

                <div class="comment_content fr">
                    <div class="top_info cf">
                        <span class="user_name">leilei331</span>
                        <div class="user_medal">
                            <i class="medal_qd" title="签到达人"></i>

                        </div>
                        <span class="com_time">2015-11-06 17:35:57</span>

                        <span class="com_floor">1#</span>
                    </div>


                    <div class="com_pub_content">
                        <!-- 多层原评论 -->
                        <!-- 多层原评论 end -->

                        <div class="com_content">
                            这个灯好，但是感觉好贵……
                        </div>
                        <div class="com_pub_btn action_replay cf">
                            <ul>
                                <li class="com_boli_first"><a href="javascript:;" onclick="return dingAction(363920,$(this))"><span class="csupport">顶</span><span class="nsupport">&nbsp;&nbsp;</span></a></li>
                                <li><a class="com_pub_replay new_replay" href="javascript:;" data-replay="363920" data-content="49543">回复</a></li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div class="comment_page">

            <!-- 翻页区   -->
<span class="page_area">

                    </span>
            <div id="divpageinfo" style="display:none"></div>
            <div id="clspnum" style="display:none">1</div>

        </div>


    </div>
    <!-- 回复列表 end -->

    <div class="form_emotion" id="emotion">
        <div class="emotion_hd"><a href="javascript:;" class="emotion_close">×</a>添加表情</div>
        <div class="emotion_list">
            <ul class="faces_list cf">
                <li data-pic="[微笑]" data-gif="flash1.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash1.gif" alt="微笑" title="微笑"></li>
                <li data-pic="[呲牙]" data-gif="flash2.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash2.gif" alt="呲牙" title="呲牙"></li>
                <li data-pic="[可怜]" data-gif="flash3.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash3.gif" alt="可怜" title="可怜"></li>
                <li data-pic="[大哭]" data-gif="flash4.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash4.gif" alt="大哭" title="大哭"></li>
                <li data-pic="[怒.]" data-gif="flash5.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash5.gif" alt="怒." title="怒."></li>
                <li data-pic="[可爱]" data-gif="flash6.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash6.gif" alt="可爱" title="可爱"></li>
                <li data-pic="[抓狂]" data-gif="flash7.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash7.gif" alt="抓狂" title="抓狂"></li>
                <li data-pic="[汗.]" data-gif="flash8.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash8.gif" alt="汗." title="汗."></li>
                <li data-pic="[口水]" data-gif="flash9.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash9.gif" alt="口水" title="口水"></li>
                <li data-pic="[暗笑]" data-gif="flash10.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash10.gif" alt="暗笑" title="暗笑"></li>
                <li data-pic="[金牙]" data-gif="flash11.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash11.gif" alt="金牙" title="金牙"></li>
                <li data-pic="[晕.]" data-gif="flash12.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash12.gif" alt="晕." title="晕."></li>
                <li data-pic="[喜欢]" data-gif="flash13.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash13.gif" alt="喜欢" title="喜欢"></li>
                <li data-pic="[害羞]" data-gif="flash14.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash14.gif" alt="害羞" title="害羞"></li>
                <li data-pic="[惊讶]" data-gif="flash15.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash15.gif" alt="惊讶" title="惊讶"></li>
                <li data-pic="[酷.]" data-gif="flash16.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash16.gif" alt="酷." title="酷."></li>
                <li data-pic="[偷笑]" data-gif="flash17.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash17.gif" alt="偷笑" title="偷笑"></li>
                <li data-pic="[委屈]" data-gif="flash18.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash18.gif" alt="委屈" title="委屈"></li>
                <li data-pic="[疑问]" data-gif="flash19.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash19.gif" alt="疑问" title="疑问"></li>
                <li data-pic="[敲头]" data-gif="flash20.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash20.gif" alt="敲头" title="敲头"></li>
                <li data-pic="[坏坏]" data-gif="flash21.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash21.gif" alt="坏坏" title="坏坏"></li>
                <li data-pic="[喝茶]" data-gif="flash22.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash22.gif" alt="喝茶" title="喝茶"></li>
                <li data-pic="[温柔]" data-gif="flash23.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash23.gif" alt="温柔" title="温柔"></li>
                <li data-pic="[亲亲]" data-gif="flash24.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash24.gif" alt="亲亲" title="亲亲"></li>
                <li data-pic="[给力]" data-gif="flash25.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash25.gif" alt="给力" title="给力"></li>
                <li data-pic="[难过]" data-gif="flash26.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash26.gif" alt="难过" title="难过"></li>
                <li data-pic="[烧香]" data-gif="flash27.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash27.gif" alt="烧香" title="烧香"></li>
                <li data-pic="[红包]" data-gif="flash28.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash28.gif" alt="红包" title="红包"></li>
                <li data-pic="[献花]" data-gif="flash29.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash29.gif" alt="献花" title="献花"></li>
                <li data-pic="[洗漱]" data-gif="flash30.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash30.gif" alt="洗漱" title="洗漱"></li>
                <li data-pic="[小花]" data-gif="flash31.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash31.gif" alt="小花" title="小花"></li>
                <li data-pic="[骷髅]" data-gif="flash32.gif"><img src="http://www.liuzhuni.com/Content/images/flash/flash32.gif" alt="骷髅" title="骷髅"></li>
            </ul>
        </div>
    </div>

</div>
<!-- 评论区end -->
