<!-- 页脚 -->
<div class="footer">
    <div class="grid_auto footer_container">
        <div class="footer_item cf">
            <dl>
                <dt>关于我们</dt>
                <dd><a target="_blank" href="http://www.wjsam.com/contents/aboutus/">网站简介</a></dd>
                <dd><a target="_blank" href="http://www.wjsam.com/help/">帮助中心</a></dd>
                <dd><a target="_blank" href="http://www.wjsam.com/outlink">友情链接</a></dd>
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd><a target="_blank" href="http://www.wjsam.com/contectus">媒体联系</a></dd>
                <dd><a target="_blank" href="http://www.wjsam.com/contents/feedback/">意见反馈</a></dd>
                <dd><a target="_blank" href="http://www.wjsam.com/Detail/30788.html">加入我们</a></dd>
            </dl>
            <dl>
                <dt>网站地图</dt>
                <dd><a target="_blank" href="http://www.wjsam.com/publish/">全民爆料</a></dd>
                <dd><a target="_blank" href="http://www.wjsam.com/baicai/">极速白菜</a></dd>
                <dd><a target="_blank" href="http://www.wjsam.com/mall/">商场导航</a></dd>

            </dl>
            <dl>
                <dt>实时推送</dt>
                <dd><a target="_blank" href="http://www.wjsam.com/push">订阅推荐</a></dd>
                <dd><a target="_blank"
                       href="https://ext.chrome.360.cn/webstore/detail/ophnollfhdjmldangbdglokiaojifbif">360极速浏览器</a>
                </dd>
                <dd><a target="_blank" href="http://www.wjsam.com/push#push_rrs">RSS订阅</a></dd>
            </dl>
            <div class="site_m fr">
                <dl>
                    <dt>手机客户端</dt>
                    <dd><a target="_blank" href="http://www.wjsam.com/app"><img
                                    src="./images/app_qrcode.png"
                                    alt="http://m.wjsam.com"></a></dd>
                    <dd>m.wjsam.com</dd>
                </dl>
            </div>
        </div>
        <div class="site_copy">
            <p class="copyright">版权所有，未经书面许可，禁止一切形式的转载；copyright© 2012-2015 我就是爱买 All rights reserved.</p>

            <div class="footer_trust cf">
                <a class="trust" href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11035347号-1</a>
                <a class="trust trust3" href="http://www.zx110.org/" rel="nofollow" target="_blank">网络社会征信网</a>
                <a class="trust trust4" href="http://www.aliyun.com/" rel="nofollow" target="_blank">阿里云安全数据库服务</a>
                <a class="trust trust5" href="http://webscan.360.cn/" target="_blank">360网站安全检测</a>
                <input type="hidden" value="2011" lang="0311" id="udate">
            </div>
            <div class="you_lian">友情链接：
                <a class="for_vote" href="http://www.wjsam.com/publish/" target="_blank">全民爆料</a>
                <a class="for_vote" href="http://www.100yue.com/" target="_blank">百悦网</a>
                <a class="for_vote" href="./#" target="_blank">留住</a>
                <a class="for_vote" href="http://www.huim.com/app/" target="_blank">惠喵</a>
            </div>
        </div>
    </div>
</div>
<!-- 页脚 end -->