<!-- 头部 -->
<div class="header">
    <div class="grid_auto header_container cf">

        <a class="site_logo fl" style="width:145px;" href="#"><img src="./images/logo.png" alt="留住你"></a>
        <a target="_blank" class="site_logo fl" style="width:110px; padding-top:18px; height:36px;"
           href="http://s.click.taobao.com/npHZqmx"><img src="./images/1111_hblogo.gif" alt=""></a>

        <div class="protection fl">
            <ul>
                <li><i class="ico_site ico_pro_1"></i><span>职业买手爆料</span></li>
                <li><i class="ico_site ico_pro_2"></i><span>中立态度甄选</span></li>
                <li><i class="ico_site ico_pro_3"></i><span>人工智能推荐</span></li>
            </ul>
        </div>
        <div class="search_area fr">
            <div class="search_box cf">
                <form onsubmit="return searchKey($(this))" method="get" action="">
                <span class="search_input fl">
                    <input type="text" id="keywords" class="keywords txt_focus" name="s" value="请输入想找的宝贝"
                           lang="请输入想找的宝贝">
                </span>
                    <input type="submit" class="search_submit fl" value="">
                </form>
            </div>
            <p class="hot_key"><a target="_blank" href="http://www.wjsam.com/search/?s=%E5%8F%8C11">双11预售</a><span
                        class="fg_line">|</span><a target="_blank"
                                                   href="http://www.wjsam.com/search/?s=%E7%A5%9E%E4%BB%B7">神价格</a><span
                        class="fg_line">|</span><a target="_blank"
                                                   href="http://www.wjsam.com/search/?s=%E6%89%8B%E6%85%A2%E6%97%A0">手慢无</a><span
                        class="fg_line">|</span><a target="_blank"
                                                   href="http://www.wjsam.com/search/?s=%E7%99%BD%E8%8F%9C%E4%BB%B7">白菜价</a><span
                        class="fg_line">|</span><a target="_blank"
                                                   href="http://www.wjsam.com/search/?s=%E4%BC%98%E6%83%A0%E5%88%B8">优惠券</a>
            </p>
        </div>
    </div>
    <!-- 导航 -->
    <div class="site_nav">
        <div class="grid_auto nav_container">
            <ul class="navigation fl" id="nav_content">
                <li><a href="./#" class="current">首页</a></li>
                <li><a href="http://www.wjsam.com/publish/">全民爆料</a></li>
                <li><a href="http://www.wjsam.com/baicai/">极速白菜</a></li>
                <li><a href="http://www.wjsam.com/shaidan/"><img style="vertical-align:middle"
                                                                    src="./images/nav_sd.gif"></a></li>

                <li><a href="http://www.wjsam.com/1111/jiankong/"><em class="ico_site ico_hot"></em>神价监控</a></li>
                <li><a href="http://www.wjsam.com/coupon/">免费领券</a></li>
                <li><a href="http://www.wjsam.com/push/"><em class="ico_site ico_new"></em>手机APP</a></li>
            </ul>
            <div class="start_app fr">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // 导航栏当前状态
        var oNavli = document.getElementById("nav_content").getElementsByTagName("a");
        for (var i = 0; i < oNavli.length; i++) {
            var sHref = oNavli[i].getAttribute("href");

            if (sHref.indexOf(location.hostname) != -1) {
                sHref = sHref.split(location.hostname)[1];
            }
            if (sHref == location.pathname.toLowerCase() || sHref == location.pathname.toLowerCase() + "/") {
                oNavli[i].className = "current";
                if (location.pathname.toLowerCase() == "/shaidan/") {
                    oNavli[i].innerHTML = "好货晒单";
                }
            }
        }
    </script>
    <!-- 导航 end -->
</div>
<!-- 头部 end -->