<!-- 轮播图 -->
<div class="slider">
    <ul id="banner_list" class="banner">
        <li style="z-index: 1; opacity: 1; background: url(/images/14466087657007.png) 50% 50% no-repeat;">
            <a target="_blank" class="banner_pic" href="http://www.wjsam.com/ActivityGo/24"></a></li>
        <li style="z-index: 0; opacity: 0; background: url(/images/14464583976763.png) 50% 50% no-repeat;">
            <a target="_blank" class="banner_pic" href="http://www.wjsam.com/ActivityGo/6"></a></li>
    </ul>
</div>
<!-- 轮播图 end -->

<div class="grid_auto banner_layer">
    <div class="adtype"><a class="current"></a><a class=""></a></div>
    <div class="banner_arrow" data-banner="arrow">
        <a href="javascript:;" class="arrow_prev" data-arrow="prev"><i></i></a>
        <a href="javascript:;" class="arrow_next" data-arrow="next"><i></i></a>
    </div>

</div>

<div class="grid_auto content_container">
    <% include recommend %>
    <div class="zhi_tit cf">
        <h4>每日超值推荐精选</h4>

        <div class="push_voice" lang="0">
            <a class="ico_voice" title="开启声音提示" href="javascript:;"></a>
        </div>
        <div class="show_type">
            <ul>
                <li class="current"><a class="type_list" title="列表模式" href="javascript:;" onclick="setStyle(0)"></a>
                </li>
                <li><a class="type_grid" title="网格模式" href="javascript:;" onclick="setStyle(1)"></a></li>
            </ul>
        </div>
        <span class="fr">浏览模式</span>
    </div>
    <!-- 超值精选 -->
    <div id="today_zhi" class="zhi_type cf">
        <% include itemListTemp %>
        <% include mainSide %>
        <% include sideNav %>
    </div>
    <!-- 超值精选 end-->
</div>