<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>wjsam</title>
    <meta name="Description" content="">
    <meta name="Keywords" content="">

    <meta property="og:type" content="webpage">
    <meta property="og:url" content="/">
    <meta property="og:title" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/ng-infinite-scroll.min.js"></script>

</head>

<body ng-app="indexApp">

<% include topSiteBar %>
<% include header %>

<!-- 主内容 -->
<div class="container">
    <%-body %>

    <!-- 主内容 end -->
    <% include topNav %>

    <% include footer %>

</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
    // 适配到移动设备
    var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
    var browser = navigator.userAgent.toLowerCase();
    var isMobile = false;

    for (var i = 0; i < mobileAgent.length; i++) {
        if (browser.indexOf(mobileAgent[i]) != -1) {
            isMobile = true;
            $("#bdtj").remove();
            var path = location.pathname.toLowerCase();
            if (path == "/" || path.indexOf("detail/") > 0 || path.indexOf("bdetail/") > 0 || path.indexOf("publish") > 0 || path.indexOf("qingdan") > 0 || path.indexOf("redian") > 0 || path.indexOf("app") > 0) {
                location.href = 'http://m.wjsam.com' + path;
            }
            break;
        }
    }
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?e9db3ea87c0c407aacb2d81e8ba569c6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
<script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=23260260"></script>
<script type="text/javascript">
    (function (win, doc) {
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        var uid = "";
        if (isLogin()) {
            uid = $("#udate").val() + _user.UserId + $("#udate").attr("lang");
        }
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        }
        var o = {
            pid: "mm_41207736_11396887_40958751", /*推广单元ID，用于区分不同的推广渠道*/
            appkey: "23260260", /*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: uid, /*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window, document);
</script>

<script>
    (function () {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>