<!-- 首页侧边 -->
<div class="main_side fr">
    <!-- 热门推荐 -->
    <div class="side_item tj_hot" _hover-ignore="1" style="top: 55px;">
        <div class="side_item_tit">
            <i></i>热门推荐
        </div>
        <div class="side_item_content tj_hot_cot cf">
            <ul>
                <li>
                    <a target="_blank" class="tj_hot_img"
                       href="http://www.wjsam.com/detail/46548.html"><img
                                src="./images/14448085106470.png!45x45.jpg"
                                alt=""></a>

                    <div class="hot_info">
                        <div class="hot_info_tit">
                            <a target="_blank" href="http://www.wjsam.com/detail/46548.html"
                               _hover-ignore="1">天猫双11# 惠喵提前领券 汇总直播 新增 小米旗舰店 50元优惠券</a>
                        </div>
                        <div class="hot_info_extra">
                            <span class="extra_item">浏览<font>284292</font></span>
                            <span>评论<font>296</font></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a target="_blank" class="tj_hot_img"
                       href="http://www.wjsam.com/detail/47961.html"><img
                                src="./images/14463695918563.jpg!45x45.jpg"
                                alt=""></a>

                    <div class="hot_info">
                        <div class="hot_info_tit">
                            <a target="_blank" href="http://www.wjsam.com/detail/47961.html">双11必抢#
                                每天刷天猫最高1111元红包 活动汇总(已更新7种,回帖你的红包数)</a>
                        </div>
                        <div class="hot_info_extra">
                            <span class="extra_item">浏览<font>199246</font></span>
                            <span>评论<font>3786</font></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a target="_blank" class="tj_hot_img"
                       href="http://www.wjsam.com/detail/48772.html"><img
                                src="./images/14463427886329.jpg!45x45.jpg"
                                alt=""></a>

                    <div class="hot_info">
                        <div class="hot_info_tit">
                            <a target="_blank" href="http://www.wjsam.com/detail/48772.html">天天蚊子肉#
                                一起撸支付宝口令红包 11月3日 汇总直播更新(补充有奖)</a>
                        </div>
                        <div class="hot_info_extra">
                            <span class="extra_item">浏览<font>58709</font></span>
                            <span>评论<font>168</font></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a target="_blank" class="tj_hot_img"
                       href="http://www.wjsam.com/detail/48744.html"><img
                                src="./images/14463101588208.jpg!45x45.jpg"
                                alt=""></a>

                    <div class="hot_info">
                        <div class="hot_info_tit">
                            <a target="_blank" href="http://www.wjsam.com/detail/48744.html">神券降临# 京东双11
                                超市嘉年华 199-111神券，新增母婴399-150券</a>
                        </div>
                        <div class="hot_info_extra">
                            <span class="extra_item">浏览<font>56036</font></span>
                            <span>评论<font>122</font></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a target="_blank" class="tj_hot_img"
                       href="http://www.wjsam.com/detail/48821.html"><img
                                src="./images/14463556564325.png!45x45.jpg"
                                alt=""></a>

                    <div class="hot_info">
                        <div class="hot_info_tit">
                            <a target="_blank" href="http://www.wjsam.com/detail/48821.html">神券答案攻略# 京东
                                竞猜赢全品类券 满199-20/满199-50券</a>
                        </div>
                        <div class="hot_info_extra">
                            <span class="extra_item">浏览<font>40623</font></span>
                            <span>评论<font>151</font></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 热门推荐 end -->

    <!-- 最新爆料 -->
    <div class="side_item bl_new">
        <div class="side_item_tit">
            <i></i>最新爆料
        </div>
        <div class="side_item_content bl_new_cot cf" _hover-ignore="1">
            <ul>
                <li>
                    <a target="_blank" class="bl_new_img"
                       href="http://www.wjsam.com/bdetail/336505.html"><img
                                src="./images/14465521845510.jpg!220x220.jpg"
                                alt="" _hover-ignore="1"></a>
                    <span class="bl_new_price">64.5元</span>
                </li>
                <li>
                    <a target="_blank" class="bl_new_img"
                       href="http://www.wjsam.com/bdetail/336527.html"><img
                                src="./images/14465510574133.jpg!220x220.jpg"
                                alt="" _hover-ignore="1"></a>
                    <span class="bl_new_price">5249元</span>
                </li>
                <li>
                    <a target="_blank" class="bl_new_img"
                       href="http://www.wjsam.com/bdetail/336524.html"><img
                                src="./images/14465507514392.jpg!220x220.jpg"
                                alt="" _hover-ignore="1"></a>
                    <span class="bl_new_price">9.90元</span>
                </li>
                <li>
                    <a target="_blank" class="bl_new_img"
                       href="http://www.wjsam.com/bdetail/336523.html"><img
                                src="./images/14465507085321.jpg!220x220.jpg"
                                alt=""></a>
                    <span class="bl_new_price">4.9元</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- 最新爆料 end -->

    <!-- 好货清单 -->
    <div class="side_item sun_list" _hover-ignore="1">
        <div class="side_item_tit">
            <i></i>好货清单
        </div>
        <div class="side_item_content sun_list_cot cf">
            <ul>
                <li>
                    <a target="_blank" href="http://www.wjsam.com/qingdan/q-482984.html">
                        <img src="./images/14464597088217.jpg"
                             alt="办公室必备小零食，好吃到停不下来~">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.wjsam.com/qingdan/q-102830.html">
                        <img src="./images/14461137024823.jpg"
                             alt="万千妈咪推荐，bb尿裤湿巾大集合">
                    </a>
                </li>
            </ul>
        </div>
        <a target="_blank" class="bc_new_more" href="http://www.wjsam.com/qingdan/">查看更多清单</a>
    </div>
    <!-- 好货清单 end -->

    <!-- 领券动态 -->
    <div class="side_item coupon_dyn">
        <div class="side_item_tit">
            <i></i>领券动态
        </div>
        <div class="side_item_content coupon_dyn_cot">
            <div class="coupon_move">
                <div class="coupon_move_inner" style="top: 0px;">
                    <ul>


                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-hangowa/1816.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/hangowa.gif"
                                                        width="90" height="45" alt="汉购网"></span>
                                <span class="coupon_info">灬***刚刚领取了#双十一#汉购网满3减3优惠券</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-hangowa/1816.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/hangowa.gif"
                                                        width="90" height="45" alt="汉购网"></span>
                                <span class="coupon_info">z***刚刚领取了#双十一#汉购网满3减3优惠券</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-yintai/1824.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/yintai.gif"
                                                        width="90" height="45" alt="银泰网"></span>
                                <span class="coupon_info">梁***刚刚领取了#双十一#银泰网新用户满299减45优惠券</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-jd/1804.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/jd.gif"
                                                        width="90" height="45" alt="京东"></span>
                                <span class="coupon_info">浴***刚刚领取了京东1元礼品卡</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-daling/1840.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/daling.gif"
                                                        width="90" height="45" alt="达令"></span>
                                <span class="coupon_info">₩***刚刚领取了#双十一#达令满99减30优惠券</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-jiae/1806.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/jiae.gif"
                                                        width="90" height="45" alt="加意新品"></span>
                                <span class="coupon_info">J***刚刚领取了#双十一#加意新品满199减100优惠券</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-hangowa/1816.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/hangowa.gif"
                                                        width="90" height="45" alt="汉购网"></span>
                                <span class="coupon_info">狂***刚刚领取了#双十一#汉购网满3减3优惠券</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.wjsam.com/q-daling/1840.html">
                                            <span class="coupon_mall"><img
                                                        src="./images/daling.gif"
                                                        width="90" height="45" alt="达令"></span>
                                <span class="coupon_info">王***刚刚领取了#双十一#达令满99减30优惠券</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 领券动态 end -->

    <!-- 最新白菜 -->
    <div class="side_item bc_new">
        <div class="side_item_tit">
            <i></i>最新白菜
        </div>
        <div class="side_item_content bc_new_cot cf">
            <ul>
                <li>
                    <a target="_blank" isconvert="1"
                       href="http://item.taobao.com/item.htm?id=42010677411">
                                    <span class="bc_new_img"><img
                                                src="./images/14465521799380.jpg"
                                                width="90" height="45" alt="天猫"></span>
                        <span class="bc_new_price">9.9元</span>
                    </a>
                    <span class="bc_new_zk">2折</span>
                </li>
                <li>
                    <a target="_blank" isconvert="1"
                       href="http://item.taobao.com/item.htm?id=520899861001">
                                    <span class="bc_new_img"><img
                                                src="./images/14465406172064.jpg"
                                                width="90" height="45" alt="天猫"></span>
                        <span class="bc_new_price">9.9元</span>
                    </a>
                    <span class="bc_new_zk">0折</span>
                </li>
            </ul>
        </div>
        <a target="_blank" class="bc_new_more" href="http://www.wjsam.com/baicai">查看更多白菜</a>
    </div>
    <!-- 最新白菜 end -->


</div>
<!-- 首页侧边 end-->