<!-- 主推荐 -->
<div class="recommend cf">
    <div class="rec_horm fl">
        <i class="ico_horm"></i>
        主编推荐
    </div>
    <div class="rec_list fl">
        <ul>
            <li><a rel="nofollow" title="亚马逊每日精品Z秒杀" target="_blank"
                   href="http://www.wjsam.com/ActivityRGo/1">亚马逊每日精品Z秒杀</a></li>
            <li><a rel="nofollow" title="每日最强促销盘点有奖" target="_blank"
                   href="http://www.wjsam.com/ActivityRGo/2">每日最强促销盘点有奖</a></li>
            <li><a rel="nofollow" title="天猫双11预售直播" target="_blank"
                   href="http://www.wjsam.com/ActivityRGo/4">天猫双11预售直播</a></li>
            <li><a rel="nofollow" title="天猫双十一券汇总" target="_blank" href="http://www.wjsam.com/ActivityRGo/3">天猫双十一券汇总</a>
            </li>
            <li><a rel="nofollow" title="每日精选包邮白菜" target="_blank" href="http://www.wjsam.com/ActivityRGo/5">每日精选包邮白菜</a>
            </li>
            <li><a rel="nofollow" title="必败好货清单精选" target="_blank" href="http://www.wjsam.com/ActivityRGo/6">必败好货清单精选</a>
            </li>
            <li><a rel="nofollow" title="每周亚马逊特价书" target="_blank" href="http://www.wjsam.com/ActivityRGo/7">每周亚马逊特价书</a>
            </li>
            <li><a rel="nofollow" title="支付宝口令红包直播" target="_blank"
                   href="http://www.wjsam.com/ActivityRGo/8">支付宝口令红包直播</a></li>
        </ul>
    </div>
    <div class="rec_push fr">
        <a target="_blank" href="http://www.wjsam.com/push"><img
                    src="./images/push_entry.png" alt=""></a>
    </div>
</div>
<!-- 主推荐 end-->