<!-- 分类导航 -->
<div class="side_nav fixed_nav">
    <ul>
        <li class="current">
            <a class="nav_type"
               href="./images/留住你 _ 发现什么最值得买，精选网购优惠信息，分享超值购，海淘攻略，让你网购更有价值 _ 网购推荐分享第①站.html"
               _hover-ignore="1"><i class="ico_class"></i>分类筛选</a>
            <ul class="nav_list nav_lei" style="display: none;">
                <li class="cur_list"><a
                            href="./images/留住你 _ 发现什么最值得买，精选网购优惠信息，分享超值购，海淘攻略，让你网购更有价值 _ 网购推荐分享第①站.html"><i></i>全部推荐</a>
                </li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-33-0-0/"><i></i>家居生活</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-86-0-0/"><i></i>食品酒水</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-56-0-0/"><i></i>个护化妆</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-46-0-0/" _hover-ignore="1"><i></i>母婴用品</a>
                </li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-113-0-0/"><i></i>服饰鞋帽</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-1-0-0/"><i></i>家用电器</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-57-0-0/"><i></i>手机数码</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-2-0-0/"><i></i>电脑办公</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-145-0-0/"><i></i>图书音像</a></li>
                <li><a target="_blank" href="http://www.wjsam.com/0-0-a-0-0/"><i></i>其他分类</a></li>
            </ul>
        </li>
        <li class="li_list mall_list">
            <span class="mall_pop">商城筛选</span>

            <div class="mall_box">
                <i class="left_arrow"></i>
                <ul class="cf">
                    <li><a target="_blank" href="http://www.wjsam.com/0-1-0-0-0/">天猫</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-3-0-0-0/">京东商城</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-6-0-0-0/">苏宁易购</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-5-0-0-0/">1号店</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-2-0-0-0/">亚马逊</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-150-0-0-0/">天猫超市</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-8-0-0-0/">国美在线</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-4-0-0-0/">当当网</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-7-0-0-0/">易迅网</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-140-0-0-0/">考拉海淘</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-145-0-0-0/">丰趣海淘</a></li>
                    <li><a target="_blank" href="http://www.wjsam.com/0-56-0-0-0/">健一网</a></li>
                </ul>
            </div>
        </li>
        <li class="li_list">
            <a target="_blank" href="http://www.wjsam.com/0-0-0-2-0/"><i class="ico_shop"></i>促销活动</a>
        </li>
        <li class="li_list">
            <a target="_blank" href="http://www.wjsam.com/0-0-0-3-0/"><i class="ico_shop"></i>优惠券</a>
        </li>
    </ul>
</div>
<!-- 分类导航 end-->