<!-- topnav -->
<div class="top_nav" id="fixed_topnav" style="top: 0px;">
    <div class="grid_auto top_nav_cot cf">

        <a href="./images/留住你 _ 发现什么最值得买，精选网购优惠信息，分享超值购，海淘攻略，让你网购更有价值 _ 网购推荐分享第①站.html"
           class="nav_logo_ico">留住你</a>
        <ul class="top_navigation">
            <li class="current"><a
                        href="./images/留住你 _ 发现什么最值得买，精选网购优惠信息，分享超值购，海淘攻略，让你网购更有价值 _ 网购推荐分享第①站.html">首页</a>
            </li>
            <li><a href="http://www.wjsam.com/publish/">全民爆料</a></li>
            <li><a href="http://www.wjsam.com/baicai/">极速白菜</a></li>
            <li><a href="http://www.wjsam.com/shaidan/">好货晒单</a></li>

            <li><a href="http://www.wjsam.com/1111/jiankong/?f=nav">神价监控</a></li>
            <li><a href="http://www.wjsam.com/coupon/">免费领券</a></li>
            <li><a href="http://www.wjsam.com/push/">手机APP</a></li>
        </ul>

        <div class="top_nav_search fr">
            <form onsubmit="return searchKey($(this))" method="get" action="">
                <input type="text" id="nav_keywords" class="nav_keywords txt_focus" name="s" autocomplete="off"
                       value="请输入想找的宝贝" lang="请输入想找的宝贝">
                <input type="submit" class="nav_search_btn" value="">
            </form>
        </div>

    </div>
</div>
<!-- topnav end-->