<div class="container">

    <div class="blog-detail">
        <div id="puinfo">
            <div id="puinfobody">
                <h3><%= productInfo.title %>
                    <span class="yy-icon yy-tjhs" title="列表推荐"></span>
                </h3>

                <p>来源：<a href="###" target="_blank">SMZDM</a>
                    &nbsp;&nbsp;发布日期：<span class="item-time"><i class="icon-time"></i><a>17小时前</a></span>
                </p>
            </div>
            <span class="pull-right" id="prenqi">
                <span>人气</span>502
            </span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="col-md-2 col-sm-2">&nbsp;</div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p style="margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;">
                    <%= productInfo.detail %>
                    <br></p>

                <p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;">
                    <img width="500"
                         height="348"
                         style="margin-right: auto; margin-left: auto; height: auto;"
                         _src="<%= productInfo.bigSrc %>"
                         src="<%= productInfo.bigSrc %>"><br><br>
                </p>

                <p style="margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;"><br></p>

            </div>
            <div class="col-md-2 col-sm-2"></div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 blog-footer">
                <div class="qrCode">
                    <img src="images/30580.png" alt="手机预览此网页" class="pull-left"/>
                    <span>
                        <h2>扫一扫</h2>
                        <small>手机预览此网页</small>
                    </span>
                </div>
                <div class="ilike">
                    <a class="text-center" href="###"><span class="glyphicon glyphicon-heart"></span>&nbsp;喜欢(<span
                                class="likecount">3</span>)</a>
                </div>
                <div class="likePerson">
                    <img src="images/like.gif" class="likeImg" alt="谁喜欢过"/>
                    <span class="list">

                    </span>

                    <div class="clearfix"></div>
                </div>
                <div class="share-detail">
                    <div class="pctiem pull-left" id="ptags">
                        <span class="yy-icon yy-soi2"></span>标签&nbsp;&nbsp;
                        <a target="_blank" href="###">填色</a>&nbsp;
                        <a target="_blank" href="###">插画</a>&nbsp;
                        <a target="_blank" href="###">秘密花园</a>&nbsp;
                    </div>
                    <div class="share-btn">
                        <a class="pvshare yy-icon yy-ssina" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-sqq" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-stt" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-sfb" target="_blank" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="maybeLike">

        <div class="col-md-12">
            <h3>猜你喜欢</h3>
            <ul>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="detail-Comments">
        <div class="col-md-12">

            <div class="notice">
                <p>只有登录之后才可以评论，请点击<a target="_top" href="###">这里</a>进行登录</p>
            </div>
            <div class="clear"></div>
            <p class="comments-num">全部评论: <span>0</span>条</p>

            <div id="cmbody"></div>

        </div>
        <div class="clearfix"></div>
    </div>


</div> <!-- /container -->