<div class="blog-list-item">
    <div class="row">
        <div class="itemName col-md-12">
            <a href="#" class="icon" _hover-ignore="1">置顶</a>
            <a href="http://s.click.taobao.com/UAF28mx"
               target="_blank" class="item-title">2015天猫双11全球狂欢节－官方主会场，5折包邮</a>
        </div>
    </div>
    <div class="row">
        <div class="itemName col-md-12">
            <a href="#" class="icon" _hover-ignore="1">置顶</a>
            <a href="http://s.click.taobao.com/DK438mx"
               target="_blank" class="item-title">2015天猫双111红包，抢！抢！抢！</a>
        </div>
    </div>
    <div class="row">
        <div class="itemName col-md-12">
            <a href="#" class="icon" _hover-ignore="1">置顶</a>
            <a href="http://s.click.taobao.com/Jcj28mx"
               target="_blank" class="item-title">2015天猫双11全球狂欢节－母婴专场，5折包邮</a>
        </div>
    </div>
    <div class="row">
        <div class="itemName col-md-12">
            <a href="#" class="icon" _hover-ignore="1">置顶</a>
            <a href="http://s.click.taobao.com/GKO28mx"
               target="_blank" class="item-title">2015天猫双11全球狂欢节－服饰专场，5折包邮</a>
        </div>
    </div>

</div>
<% include public/itemListTemp %>
<!-- <div class="clearfix"></div>
 <div class="row">
     <div class="col-md-12">
         &lt;!&ndash;<div id="pages">
             <a id="pagepre" href="#">
                 <span class="opt-icon icon-angle-left" aria-hidden="true"></span>
             </a>
             <a id="pageactive" href="#">1</a>
             <a href="#">2</a>
             <a href="#">3</a>
             <a href="#">4</a>
             <a href="#">5</a>
             <span>...</span>
             <a href="#">29</a>
             <a id="pagenext" href="#">
                 <span class="opt-icon icon-angle-right" aria-hidden="true"></span>
             </a>
         </div>&ndash;&gt;

     </div>
 </div>
-->
