<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>DoraCMS--留言显示</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/newblue.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" class="active">发现</a></li>
                <li><a href="#about">实验室</a></li>
                <li><a href="#contact">关于</a></li>

            </ul>
            <ul class="nav navbar-nav pull-right">
                <div id="hrnav">
                    <div id="soform" class="">
                        <form method="get" action="###">
                            <span class="icon-search"></span>
                            <input type="hidden" autocomplete="off" class="hide" value="4" name="cid">
                            <input type="hidden" autocomplete="off" class="hide" value="rec" name="sort">
                            <input type="hidden" autocomplete="off" class="hide" value="" name="fid">
                            <input type="hidden" autocomplete="off" class="hide" value="" name="owner">
                            <input type="hidden" autocomplete="off" class="hide" value="all" name="time">
                            <input type="text" autocomplete="off" placeholder="关键字查找" value="" name="search">
                        </form>
                    </div>
                    <div id="mulogin">

                        <!--<div class="btn-group" role="group" aria-label="">-->
                            <button type="button" class="btn btn-gray">登录</button>
                            <button type="button" class="btn btn-blue">注册</button>
                        <!--</div>-->
                    </div>
                </div>

            </ul>
        </div><!--/.nav-collapse -->

    </div>

</nav>

<div class="container">

    <div class="blog-detail">
        <div id="puinfo">
            <div id="puinfobody">
                <h3>最近超火：治愈填色本《秘密花园》
                    <span class="yy-icon yy-tjhs" title="列表推荐"></span>
                </h3>
                <p>作者：<a href="###" target="_blank">Dora</a>
                    &nbsp;&nbsp;发布日期：<span class="item-time"><i class="glyphicon glyphicon-time"></i><a>17小时前</a></span>
                </p>
            </div>
            <span class="pull-right" id="prenqi">
                <span>人气</span>502
            </span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="col-md-2 col-sm-2">&nbsp;</div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p style="margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;"><strong>最近超火：治愈填色本《秘密花园》</strong></p><p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;">近两年，从前专供小朋友涂鸦的涂（填）色本开始在成人圈里流行起来。英国插画家乔汉娜·贝斯福（Johanna Basford，也有译作约翰娜·贝斯福德）创作的《秘密花园》（SecretGarden）是一本近年在世界范围内都很流行的成人涂色书，上市不到两年，已销售近150万册！据英国《卫报》上月的报道，《秘密花园》登上了亚马逊畅销书百强榜的首位。<br><br></p><p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;"><img width="500" height="348" style="margin-right: auto; margin-left: auto; height: auto;" _src="http://cdn.uehtml.com/201507/1437374995608.jpg" src="http://cdn.uehtml.com/201507/1437374995608.jpg"><br><br></p><p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;">“全球涂色界，如果有一位女王，那非乔汉娜·贝斯福莫属。”&mdash;&mdash;《今日美国》</p><p style="margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;"><br></p><p style="margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;">《秘密花园》是一本黑白画集，读者可为其上色。就像寻宝一样，书中的花园里“藏着”各种生物：甲壳虫、鸣禽、蝴蝶……甚至还有鲨鱼。<br><br></p><p style="text-align: left; margin-top: 0px; margin-bottom: 0px;  font-size: 14px; white-space: normal;"><img width="300" height="448" style="margin-right: auto; margin-left: auto; height: auto;" _src="http://cdn.uehtml.com/201507/1437375006383.jpg" src="http://cdn.uehtml.com/201507/1437375006383.jpg"><br><br></p><p style="margin-top: 0px; margin-bottom: 0px; font-size: 14px; white-space: normal;">韩国歌星金基范将自己的涂色作品上传到了Instagram上</p>
            </div>
            <div class="col-md-2 col-sm-2"></div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 blog-footer">
                <div class="qrCode">
                    <img src="images/30580.png" alt="手机预览此网页" class="pull-left"/>
                    <span>
                        <h2>扫一扫</h2>
                        <small>手机预览此网页</small>
                    </span>
                </div>
                <div class="ilike">
                    <a class="text-center" href="###"><span class="glyphicon glyphicon-heart"></span>&nbsp;喜欢(<span class="likecount">3</span>)</a>
                </div>
                <div class="likePerson">
                    <img src="images/like.gif" class="likeImg" alt="谁喜欢过"/>
                    <span class="list">
                        <ul>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li><li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive"alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                            <li><a href="###"><img src="images/100.png" class="img-responsive" alt="logo"/></a></li>
                        </ul>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="share-detail">
                    <div class="pctiem pull-left" id="ptags">
                        <span class="yy-icon yy-soi2"></span>标签&nbsp;&nbsp;
                        <a target="_blank" href="###">填色</a>&nbsp;
                        <a target="_blank" href="###">插画</a>&nbsp;
                        <a target="_blank" href="###">秘密花园</a>&nbsp;
                    </div>
                    <div class="share-btn">
                        <a class="pvshare yy-icon yy-ssina" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-sqq" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-stt" target="_blank" href="#"></a>&nbsp;
                        <a class="pvshare yy-icon yy-sfb" target="_blank" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="maybeLike">

        <div class="col-md-12">
            <h3>猜你喜欢</h3>
            <ul>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
                <li class="col-md-3"><a href="##"><img class="img-responsive" src="images/1437379051237.jpg"/></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="detail-Comments">
        <div class="col-md-12">

            <div class="msg-area">
                <div id="cmhead">
                    <p>帐号：<a target="_blank" href="###">doramart</a>
                        <a id="cm-s1" href="###">退出</a>
                        <span class="submitwarning" style="display: inline-block;">内容不能为空</span>
                    </p>
                    <div id="cmhbody">
                        <a title="doramart" class="m-logo" target="_blank" href="###">
                            <img width="50" height="50" src="images/myheader.jpg">
                        </a>
                        <div id="postcm">
                            <a class="btn btn-gray1 submitbtn" id="postmbtn" href="###">我要评论</a>
                            <div class="textbg">
                                <textarea autocomplete="off" class="inputnone"></textarea>
                            </div>
                            <div class="clear"></div>

                        </div>
                    </div>
                    <p id="cm-s2">全部评论: <span>77</span>条</p>
                    <div data-uid="34625" data-id="26403" class="cmitem">
                        <a target="_blank" class="m-logo" title="bErtoN" href="###">
                            <img width="50" height="50" src="http://qzapp.qlogo.cn/qzapp/100516179/850D9C659FB6E8FF0735576240C5811A/100">
                        </a>
                        <div class="cmitembody">
                            <p class="cm-s4">
                                <a target="_blank" href="###">bErtoN</a>
                                <span>2天前</span>
                                <span class="cpraise">赞(<span>0</span>)</span>
                            </p>
                            <p class="cm-s6">
                                然后呢=
                                <a class="cm-s5" href="###">[回复]</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


</div> <!-- /container -->
<!--footer begin-->
<div id="footer">
    <div class="container">

        <p id="banquan">自豪的采用&nbsp;<a href="###">DoraCMS</a>&nbsp;Copyright (c) 2013 <a href="http://html-js.cn" target="_blank">html-js.cn.</a> All Rights Reserved 粤ICP备15038960号-1</p>
    </div>
</div>
<!--footer end-->

<div id="cbbfixed">
    <a href="###" class="cbbtn" id="cweixin">
        <span class="yy-icon yy-weixin"></span>
        <div></div>
    </a>
    <a href="###" class="cbbtn" id="gotop">
        <span class="yy-icon yy-gt"></span>
    </a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.11.1.js" type="text/javascript"></script>
<script src="js/blue.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
